doctype html
html(lang="hu")
  head
    title Bagoly Pub
    script(src="https://kit.fontawesome.com/af9fa598da.js", crossorigin="anonymous")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet")
    link(rel='stylesheet', href='/dist/style.css')
    link(rel="icon", type="image/svg+xml", href="/images/icons/logo_light.svg")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    
  body
    .container 
      block header
        header
          a.logo--wrapper(href="/")
            img.logo(src="/images/icons/logo_dark.svg" alt="logo")  
          .nav--wrapper
            div
              nav.nav
                block nav
                  -const menu = [{ slug: '/', title: 'Kezdőlap', }, { slug: '/kinalat.html', title: 'Kínálat', }, { slug: '/kapcsolat.html', title: 'Kapcsolat', },]
                  each item, index in menu
                    a.nav--item.text--nav(href=item.slug, class=(index === menu.length - 1) ? 'nav--item__last' : '') #{item.title}
          .nav-menu 
            i.fa.fa-bars
      block hero
      block content
        main
        
      footer
        .icons-wrapper
          a(href="https://www.facebook.com" target="_blank")
            i.icons.icons__light.fa-brands.fa-facebook-f
          a(href="https://www.instagram.com" target="_blank")
            i.icons.icons__light.fa-brands.fa-instagram
        .links-wrapper
          a.footer-text__link.text--small(href="/adatvedelem.html") Adatvédelmi Tájékoztató
          a.footer-text__link.text--small(href="/impresszium.html") Impresszum
        p.footer-text.text--small © 2024 Copyright Bagoly Pub


    block scripts
      script(src="/dist/App.bundle.js")