extends layout 

block content
  main.privacy-wrapper
    h1.privacy-title Adatvédelmi tájékoztató
    p.privacy-text.privacy-bold Üdvözlünk a Bagoly Pubs weboldalán!
    p.privacy-text Kérjük, figyelmesen olvasd el ezt az adatvédelmi tájékoztatót, hogy megértsd, hogyan kezeljük és védelmezzük az általad megadott személyes adatokat.
    h2.privacy-subtitle Cégadatok
    ul.privacy-text
      li Cégnév: Bagoly Pubs Kft. 
      li Székhely: 1031. Budapest, Ányos utca 4. 
      li Telefon: [Cég Telefonszáma] 
      li Email: [Cég Email Címe]
    h2.privacy-subtitle Személyes adatok gyűjtése és felhasználása
    p.privacy-text Az általad megadott személyes adatokat kizárólag az alábbi célokra használjuk fel:
    ul.privacy-text
      li 
        span.privacy-bold Kapcsolattartás:</span> Ha kapcsolatba lépsz velünk az email címen vagy telefonon keresztül, az általad megadott adatokat csak az adott kommunikáció céljából használjuk fel.
      li 
        span.privacy-bold Asztalfoglalások kezelése:</span> Amennyiben asztalfoglalásra van szükséged, az általad megadott elérhetőségeket csak az asztalfoglalás lebonyolítására és visszaigazolására használjuk fel.
    h2.privacy-subtitle Cookie-k használata
    p.privacy-text A weboldalunkon cookie-kat használunk annak érdekében, hogy javítsuk a felhasználói élményt és nyomon kövessük a weboldalunk látogatottságát. A Google Analytics segítségével gyűjtött adatokat kizárólag a weboldal teljesítményének elemzésére használjuk fel. Ezek a cookie-k nem tartalmaznak személyes azonosító információkat, és nem alkalmasak arra, hogy azonosítsanak téged.
    h2.privacy-subtitle Adatvédelem és biztonság
    p.privacy-text Az általad megadott személyes adatokat biztonságosan tároljuk, és csak az arra jogosult személyek férhetnek hozzá. Nem osztjuk meg, áruljuk el vagy adjuk át az adatokat harmadik félnek, kivéve, ha azt törvény kötelezi.
    h2.privacy-subtitle Harmadik fél weboldalai
    p.privacy-text A weboldalunk lehetőséget biztosít harmadik fél weboldalaira mutató linkek elérésére. Az ilyen weboldalak adatvédelmi gyakorlatáért és tartalmáért nem vagyunk felelősek.
    h2.privacy-subtitle Adatvédelmi jogaid
    p.privacy-text Az adatvédelmi jogaidról és azok gyakorlásának módjáról részletes tájékoztatást kaphatsz az adatvédelmi törvényeknek megfelelően.
    h2.privacy-subtitle Változtatások az adatvédelmi tájékoztatón
    p.privacy-text Fenntartjuk a jogot, hogy időnként frissítsük vagy módosítsuk az adatvédelmi tájékoztatónkat. Az esetleges változtatásokról értesíteni fogunk, és frissített tájékoztatót teszünk elérhetővé a weboldalon.
    h2.privacy-subtitle Kapcsolat
    p.privacy-text Ha bármilyen kérdésed vagy észrevételed van az adatvédelmi tájékoztatóval kapcsolatban, kérjük, lépj kapcsolatba velünk az alábbi elérhetőségek egyikén:
    .privacy-contacts__wrapper
      p.privacy-text.privacy-contacts Email:  
        a.privacy-link(href="tel:1234567890") (123) 456-7890
      p.privacy-text.privacy-contacts Telefon: 
        a.privacy-link(href="mailto:info@bagolypub.hu") info@bagolypub.hu
      
