mixin head()
  link(rel="preconnect" href="https://fonts.googleapis.com")
  link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
  link(href='/fontawesome/css/fontawesome.css', rel='stylesheet')
  link(href='/fontawesome/css/brands.css', rel='stylesheet')
  link(href='/fontawesome/css/solid.css', rel='stylesheet')
  link(rel='stylesheet', href='/dist/style.css')
  link(rel="preload" fetchpriority="high" as="image" href="/images/photos/kisasztal.JPG" type="image/jpeg")
  link(href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100..700&family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet")
  link(rel="icon" type="image/png" href="/images/icons/logo_light.png")
