.accordion {
  display:         flex;
  flex-flow:       column nowrap;
  justify-content: flex-start;
  align-items:     center; 
  width:           90%;
  gap:             1.5rem;  
}

  .js-accordion--content {
    display:       none;
    background:    rgba(var(--secondary-color-rgb), .9);
    color:         var(--brand-color);
    padding:       2rem;
    border-radius: 2px;
    width:         80%;
   
  }

  .js-accordion--content.js-active {
    display: block;
  }

  
    .accordion--text {
      margin-bottom: 1rem;
    }


    .accordion--list {
      margin-bottom:   1rem;
      padding-left:    1.5rem;
    }

      .accordion--link {
        color: var(--primary-color);
      }

      .accordion--link:hover {
        color: var(--brand-color);
        text-decoration: underline;
      }

    



  @media (max-width: 864px) {
    .js-accordion--content {
      width: 100%;
    }
  }

  @media (max-width: 554px) {
    .accordion {
      width: 100%;
    }
    .js-accordion--content {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
  

      

      