/*-----------------------------------*\
* BASIC SETTINGS OF THE PAGE
\*-----------------------------------*/

:root {
    --primary-color:        #BC956C; /* brand - Light brown */
    --primary-color-rgb:    188, 149, 108;
    --secondary-color:      #FFFFFF; /* white */
    --secondary-color-rgb:  255, 255, 255;
    --brand-color:          #042236; /* brand - Dark blue */ 
    --brand-color-rgb:      4, 34, 54;
    --background-color:     #F4F3F5; /* light grey*/
    --tertiary-color:       #FEEECA; /* light yellow */
    --tertiary-color-rgb:   254, 238, 202;
    --font-size-regular:    clamp(1rem, 2vh, 1.25rem);
    --line-height-regular:  clamp(1.5rem, 3vh, 1.875rem);
    --font-size-big:        calc(var(--font-size-regular) * 2);
    --line-height-big:      calc(var(--line-height-regular) * 1.66);
    --font-size-medium:     calc(var(--font-size-regular) * 1.2);
    --line-height-medium:   calc(var(--line-height-regular) * 1.2);
    --font-size-small:      0.75rem;
    --line-height-small:    1rem;
    --logo-size:            4.5rem;
    --logo-margins:         0.25rem;
    --header-height:        calc(var(--logo-size) + var(--logo-margins) * 2);
    --hero-height:          calc(100vh - var(--header-height));  
    --footer-height:        7.5rem; 
} 

/* normalize CSS */

* {
    margin:     0;
    padding:    0;
    box-sizing: border-box;
}

  

  html {
    background-color: var(--secondary-color);
  }

  
   

  

