.drinks--background {
  background: url('/images/photos/onebeer.jpg') no-repeat center / cover;
  margin-top: var(--header-height);
  min-height: calc(100vh - var(--header-height));
  overflow:   auto;
  
}


  .drinks--wrapper {
    width:           90%;
    display:         flex;
    flex-flow:       column nowrap;
    justify-content: flex-start;
    align-items:     center;
    gap:             2rem;
    padding:         5% 10% 5% 10%;
  }

/*
* 1) Dark blue separator under the table header
* 2) Making sure all names start with capital letter folloewd by lowercase
*/

.table--container {
  background-color:  rgba(var(--secondary-color-rgb), .9);
  border-radius:     2px;
  padding:           1rem;
  width:             max(40%, 468px);
}

 


  .table {
    color:           rgba(var(--brand-color-rgb), 1);
    table-layout:    auto;
    width:           100%;
    height:          auto;
    opacity:         1;
    border-collapse: collapse; /* 1 */
  }

    .table--title {
      width:          100%;
      text-transform: uppercase;
      font-weight:    bold;
      margin-bottom:  1rem;
    }
     
    .table--header {
      color:         rgba(var(--brand-color-rgb), 1);
      border-bottom: 1px solid rgba(var(--primary-color-rgb), 1); /* 1 */
      width:         auto;
      opacity:       1;
    }

    .table .table--items {
      padding:         .3125rem;
      
    }

      .drinks--name {
        text-transform: lowercase; /*2*/
        
      }

      .drinks--name::first-letter {
        text-transform: uppercase; /*2*/
      }

      

/*MOBILE VERSION*/

@media (max-width: 900px) {
  .drinks--wrapper {
    width:   100vw;
    padding: 1rem .5rem 1rem .5rem;
    
  }
  .table--container {
    width:   max(370px, 90%);
    
  } 
}